[1m[34m  ->(B[m[1m (B[m
[1m[34m  ->(B[m[1m        .---.`               `.---.(B[m
[1m[34m  ->(B[m[1m     `/syhhhyso-           -osyhhhys/`(B[m
[1m[34m  ->(B[m[1m    .syNMdhNNhss/``.---.``/sshNNhdMNys.(B[m
[1m[34m  ->(B[m[1m    +sdMh.`+MNsssssssssssssssNM+`.hMds+(B[m
[1m[34m  ->(B[m[1m    :syNNdhNNhssssssssssssssshNNhdNNys:(B[m
[1m[34m  ->(B[m[1m     /ssyhhhysssssssssssssssssyhhhyss/(B[m
[1m[34m  ->(B[m[1m     .ossssssssssssssssssssssssssssso.(B[m
[1m[34m  ->(B[m[1m    :sssssssssssssssssssssssssssssssss:(B[m
[1m[34m  ->(B[m[1m   /sssssssssssssssssssssssssssssssssss/(B[m
[1m[34m  ->(B[m[1m  :sssssssssssssoosssssssoosssssssssssss:(B[m
[1m[34m  ->(B[m[1m  osssssssssssssoosssssssoossssssssssssso(B[m
[1m[34m  ->(B[m[1m  osssssssssssyyyyhhhhhhhyyyyssssssssssso(B[m
[1m[34m  ->(B[m[1m  /yyyyyyhhdmmmmNNNNNNNNNNNmmmmdhhyyyyyy/(B[m
[1m[34m  ->(B[m[1m   smmmNNNNNNNNNNNNNNNNNNNNNNNNNNNNNmmms(B[m
[1m[34m  ->(B[m[1m    /dNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNd/(B[m
[1m[34m  ->(B[m[1m     `:sdNNNNNNNNNNNNNNNNNNNNNNNNNds:`(B[m
[1m[34m  ->(B[m[1m        `-+shdNNNNNNNNNNNNNNNdhs+-`(B[m
[1m[34m  ->(B[m[1m              `.-:///////:-.`(B[m
[1m[34m  ->(B[m[1m (B[m
[1m[34m  ->(B[m[1m Initial prompt skipped. Do you remember what it said? 8)(B[m
[1m[34m  ->(B[m[1m Using staging patchset(B[m
[1m[34m  ->(B[m[1m Using ntsync patchset(B[m
[1m[34m  ->(B[m[1m Installing to /opt/wine-tkg-staging-ntsync-git-opt-staging-ntsync-git-opt(B[m
[1m[34m  ->(B[m[1m (B[m
[1m[34m  ->(B[m[1m ccache was not found and will not be used(B[m
pkgbase = wine-tkg-staging-ntsync-git-opt-staging-ntsync-git-opt
	pkgdesc = This "Wine to rule them all" package is the result of some random pkgbuild found online. Looks safe to me, amirite? Some variants of it can be found in lutris runners.
	pkgver = 0
	pkgrel = 327
	url = https://github.com/Tk-Glitch/PKGBUILDS/tree/master/wine-tkg-git
	arch = x86_64
	license = LGPL
	makedepends = git
	makedepends = autoconf
	makedepends = ncurses
	makedepends = bison
	makedepends = perl
	makedepends = fontforge
	makedepends = flex
	makedepends = gcc>=4.5.0-2
	makedepends = pkgconf
	makedepends = giflib
	makedepends = libpng
	makedepends = gnutls
	makedepends = libxinerama
	makedepends = libxcomposite
	makedepends = libxmu
	makedepends = libxxf86vm
	makedepends = libldap
	makedepends = mpg123
	makedepends = openal
	makedepends = v4l-utils
	makedepends = alsa-lib
	makedepends = libxcomposite
	makedepends = mesa
	makedepends = libgl
	makedepends = libxslt
	makedepends = libpulse
	makedepends = libva
	makedepends = gtk3
	makedepends = gst-plugins-base-libs
	makedepends = gst-plugins-good
	makedepends = vulkan-icd-loader
	makedepends = sdl2
	makedepends = libcups
	makedepends = samba
	makedepends = opencl-headers
	makedepends = meson
	makedepends = ninja
	makedepends = glslang
	makedepends = wget
	makedepends = ocl-icd
	makedepends = jack
	makedepends = libxpresent
	makedepends = libgcrypt
	makedepends = lib32-giflib
	makedepends = lib32-libpng
	makedepends = lib32-gnutls
	makedepends = lib32-libxinerama
	makedepends = lib32-libxcomposite
	makedepends = lib32-libxmu
	makedepends = lib32-libxxf86vm
	makedepends = lib32-libldap
	makedepends = lib32-mpg123
	makedepends = lib32-openal
	makedepends = lib32-v4l-utils
	makedepends = lib32-alsa-lib
	makedepends = lib32-mesa
	makedepends = lib32-libgl
	makedepends = lib32-libxslt
	makedepends = lib32-libpulse
	makedepends = lib32-libva
	makedepends = lib32-gtk3
	makedepends = lib32-gst-plugins-base-libs
	makedepends = lib32-gst-plugins-good
	makedepends = lib32-vulkan-icd-loader
	makedepends = lib32-sdl2
	makedepends = lib32-libcups
	makedepends = lib32-ocl-icd
	makedepends = lib32-jack
	makedepends = lib32-libgcrypt
	makedepends = mingw-w64-gcc
	makedepends = attr
	makedepends = fontconfig
	makedepends = lcms2
	makedepends = libxml2
	makedepends = libxcursor
	makedepends = libxrandr
	makedepends = libxdamage
	makedepends = libxi
	makedepends = gettext
	makedepends = freetype2
	makedepends = glu
	makedepends = libsm
	makedepends = gcc-libs
	makedepends = libpcap
	makedepends = desktop-file-utils
	makedepends = lib32-attr
	makedepends = lib32-fontconfig
	makedepends = lib32-lcms2
	makedepends = lib32-lcms2
	makedepends = lib32-libxml2
	makedepends = lib32-libxcursor
	makedepends = lib32-libxrandr
	makedepends = lib32-libxdamage
	makedepends = lib32-libxi
	makedepends = lib32-gettext
	makedepends = lib32-freetype2
	makedepends = lib32-glu
	makedepends = lib32-libsm
	makedepends = lib32-gcc-libs
	makedepends = lib32-libpcap
	depends = attr
	depends = fontconfig
	depends = lcms2
	depends = libxml2
	depends = libxcursor
	depends = libxrandr
	depends = libxdamage
	depends = libxi
	depends = gettext
	depends = freetype2
	depends = glu
	depends = libsm
	depends = gcc-libs
	depends = libpcap
	depends = desktop-file-utils
	depends = lib32-attr
	depends = lib32-fontconfig
	depends = lib32-lcms2
	depends = lib32-lcms2
	depends = lib32-libxml2
	depends = lib32-libxcursor
	depends = lib32-libxrandr
	depends = lib32-libxdamage
	depends = lib32-libxi
	depends = lib32-gettext
	depends = lib32-freetype2
	depends = lib32-glu
	depends = lib32-libsm
	depends = lib32-gcc-libs
	depends = lib32-libpcap
	optdepends = giflib
	optdepends = libpng
	optdepends = libldap
	optdepends = gnutls
	optdepends = mpg123
	optdepends = openal
	optdepends = v4l-utils
	optdepends = libpulse
	optdepends = alsa-plugins
	optdepends = alsa-lib
	optdepends = libjpeg-turbo
	optdepends = libxcomposite
	optdepends = libxinerama
	optdepends = ncurses
	optdepends = libxslt
	optdepends = libva
	optdepends = gtk3
	optdepends = gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = sdl2
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	optdepends = faudio
	optdepends = schedtool
	optdepends = zapcc
	optdepends = clang
	optdepends = ccache
	optdepends = lib32-giflib
	optdepends = lib32-libpng
	optdepends = lib32-libldap
	optdepends = lib32-gnutls
	optdepends = lib32-mpg123
	optdepends = lib32-openal
	optdepends = lib32-v4l-utils
	optdepends = lib32-libpulse
	optdepends = lib32-alsa-plugins
	optdepends = lib32-alsa-lib
	optdepends = lib32-libjpeg-turbo
	optdepends = lib32-libxcomposite
	optdepends = lib32-libxinerama
	optdepends = lib32-ncurses
	optdepends = lib32-libxslt
	optdepends = lib32-libva
	optdepends = lib32-gtk3
	optdepends = lib32-gst-plugins-base-libs
	optdepends = lib32-vulkan-icd-loader
	optdepends = lib32-sdl2
	optdepends = lib32-faudio
	provides = wine-tkg-staging-ntsync-git-opt-staging-ntsync-git-opt=0
	options = !strip
	options = !ccache
	options = !lto
	source = wine-git::git+https://gitlab.winehq.org/wine/wine.git
	source = wine-staging-git::git+https://gitlab.winehq.org/wine/wine-staging.git
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	md5sums = SKIP
	md5sums = SKIP
	md5sums = 1ff4e467f59409272088d92173a0f801
	md5sums = cff441678d798466a13a0d03b01e23d7

pkgname = wine-tkg-staging-ntsync-git-opt-staging-ntsync-git-opt
	install = wine.install
[1m[34m  ->(B[m[1m Removed BIG_UGLY_FROGMINER - Ribbit(B[m
[1m[34m  ->(B[m[1m Removed Proton-tkg token - Valve Ribbit(B[m
[1m[34m  ->(B[m[1m exit cleanup done(B[m
